* {
    margin: 0;
    padding: 0;
}

body {
min-height: 100vh;
background-image: url(bc.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgba(114,70,69);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px; /*We only gave the list items height because we want it to define the size of height of the whole navbar*/
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: antiquewhite;
}

nav a:hover {
    background-color: rgb(64, 35, 35);
    border-radius: 10%;
} 

nav li:first-child {
margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9999;
    background-color: rgba(165, 42, 42, 0.304);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none; /*So it doesn't show until the function is called*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/*For the menu button*/
.menu-button {
    display: none;
}

/*MEDIA QUERRIES FOF SCREEN SIZES*/
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}